Repository AWS-Team-Minority-2/minority-two, pull requests merged in 2024-03, with the labels that each got.

#85 min 4.1.1 Connect Profile Edits to Backend (Name)
  apps/backend/node.ts
  apps/backend/package.json
  apps/backend/src/controllers/customerNameHandler.ts
  apps/backend/src/controllers/index.ts
  apps/backend/src/controllers/suspensionHandler.ts
  apps/frontend/App.js
  apps/frontend/package.json
  apps/frontend/screens/Customer/NavBar.js
  apps/frontend/screens/Customer/UserProfilePage/AccInfo.scss
  apps/frontend/screens/Customer/UserProfilePage/AccountInfo.js
  apps/frontend/screens/Customer/UserProfilePage/AccountInfoEmail.js
  apps/frontend/screens/Customer/UserProfilePage/AccountInfoName.js
  apps/frontend/screens/Customer/UserProfilePage/AccountInfoPhoneNumber.js
  apps/frontend/screens/Customer/UserProfilePage/Security.js
  apps/frontend/screens/Customer/UserProfilePage/UserProfile.js
  package.json
  packages/actions-web/Customer/CustomerActions.ts
  packages/actions-web/index.ts
  packages/actions-web/package.json
  packages/actions-web/tsconfig.json
  packages/user-iso/context/auth.tsx
  pnpm-lock.yaml
Labels: Frontend, Backend

#87 min 4.1.2 update frontend (number)
  apps/backend/node.ts
  apps/backend/src/controllers/customerNameHandler.ts
  apps/backend/src/controllers/customerNumberHandler.ts
  apps/backend/src/controllers/index.ts
  apps/frontend/screens/Customer/UserProfilePage/AccInfo.scss
  apps/frontend/screens/Customer/UserProfilePage/AccountInfoName.js
  apps/frontend/screens/Customer/UserProfilePage/AccountInfoPhoneNumber.js
  packages/actions-web/Customer/CustomerActions.ts
Labels: Backend

#89 Doron/min 8.0
  apps/frontend/App.js
  apps/frontend/package.json
  apps/frontend/screens/Customer/BusinessProfile.js
  apps/frontend/screens/Customer/BusinessProfilePopUp.js
  apps/frontend/screens/Customer/FeaturedCard.js
  apps/frontend/screens/Customer/FeaturedRow.js
  apps/frontend/screens/Customer/SelectedItem.js
  apps/frontend/screens/Customer/UserHomePage/UserHome.scss
  apps/frontend/screens/Customer/UserHomePage/UserMap.js
  apps/frontend/screens/Customer/UserHomePage/UserMap.scss
  apps/frontend/screens/Customer/UserHomePage/components/TopPlacesCarousel.js
  apps/frontend/screens/Customer/UserProfilePage/Security.js
  apps/frontend/screens/Customer/data/menu.js
  apps/frontend/screens/Customer/index.js
  apps/frontend/screens/Customer/sass/BusinessProfile.scss
  apps/frontend/screens/index.js
  pnpm-lock.yaml
Labels: Frontend

#90 4.1.3 Connect Account Edits to Backend (Email)
  apps/backend/node.ts
  apps/backend/src/controllers/customerEmailHandler.ts
  apps/backend/src/controllers/index.ts
  apps/frontend/screens/Customer/UserProfilePage/AccountInfoEmail.js
  packages/actions-web/Customer/CustomerActions.ts
Labels: Backend

#91 [Regression-FIX] Fix Nav Rollback
  apps/frontend/screens/Customer/UserProfilePage/AccInfo.scss
  apps/frontend/screens/Customer/UserProfilePage/ChangePassword.js
  apps/frontend/screens/Customer/UserProfilePage/Security.js
Labels: bug, Frontend

#93 Min 16.0 Stores Redirection Based on Location
  apps/backend/src/loaders/BusinessLoader.ts
  apps/backend/src/resolvers/QueryResolver.ts
  apps/backend/src/schema.graphql
  apps/frontend/screens/Customer/UserHomePage/UserHomeScreen.js
  packages/business-web/hooks/useStores.ts
  packages/business-web/mutations/index.ts
Labels: Backend

#96 Min 1.4.5 Migration for Business Owners
  apps/migrations/sql/05-create-owners-table.sql
Labels: Migration

#101 8.2-3 Specific Mapping [Restaurants]
  apps/backend/src/loaders/BusinessLoader.ts
  apps/backend/src/schema.graphql
  apps/frontend/App.js
  apps/frontend/screens/Customer/BusinessProfile.js
  apps/frontend/screens/Customer/FeaturedRow.js
  apps/frontend/screens/Customer/ServerProfile.js
  apps/frontend/screens/Customer/ServiceProfile.js
  apps/frontend/screens/Customer/UserHomePage/components/TopPlacesCarousel.js
  apps/frontend/screens/Customer/data/service.js
  apps/frontend/screens/Customer/index.js
  apps/frontend/screens/Customer/sass/ServerProfile.scss
  apps/frontend/screens/Customer/sass/ServiceProfile.scss
  apps/frontend/screens/index.js
  apps/migrations/sql/010-update-types-store.sql
  apps/migrations/sql/06-update-stores-table.sql
  apps/migrations/sql/07-inject-store-metadata.sql
  apps/migrations/sql/08-delete-doubles.sql
  apps/migrations/sql/09-handle-render-type.sql
  packages/business-web/hooks/useStores.ts
  packages/business-web/mutations/index.ts
Labels: Frontend, Backend

#110 Min-18.1.1 Min-18.1.2 Basket Provider Restaurant Provider
  apps/frontend/App.js
  apps/frontend/package.json
  apps/frontend/screens/Customer/Checkout/index.js
  apps/frontend/screens/Customer/Checkout/screen.js
  apps/frontend/screens/Customer/UserHomePage/UserHome.scss
  apps/frontend/screens/Customer/UserHomePage/UserHomeScreen.js
  apps/frontend/screens/Customer/sass/BusinessProfile.scss
  apps/frontend/screens/index.js
  apps/frontend/store.js
  package.json
  packages/business-web/hooks/useStores.ts
  packages/business-web/index.ts
  packages/business-web/package.json
  pnpm-lock.yaml
Labels: Frontend, pkg

#112 min 18.1.3 Create Fallback
  apps/frontend/screens/Customer/Checkout/sass/BasketScreen.scss
  apps/frontend/screens/Customer/Checkout/screen.js
  packages/business-iso/index.ts
  packages/business-iso/package.json
  packages/business-iso/tsconfig.json
  packages/business-web/hooks/useBasketRedux.tsx
  packages/business-web/hooks/useRestaurantRedux.tsx
Labels: Frontend

#115 Doron/min 8.1.3
  apps/frontend/App.js
  apps/frontend/screens/Customer/BusinessProfile.js
  apps/frontend/screens/Customer/FeaturedRow.js
  apps/frontend/screens/Customer/RatingBar.js
  apps/frontend/screens/Customer/Review.js
  apps/frontend/screens/Customer/SelectedItem.js
  apps/frontend/screens/Customer/ServerProfile.js
  apps/frontend/screens/Customer/ServiceProfile.js
  apps/frontend/screens/Customer/data/serverReviews.js
  apps/frontend/screens/Customer/data/service.js
  apps/frontend/screens/Customer/index.js
  apps/frontend/screens/Customer/sass/BusinessProfile.scss
  apps/frontend/screens/Customer/sass/Review.scss
  apps/frontend/screens/Customer/sass/ServerProfile.scss
  apps/frontend/screens/index.js
Labels: Frontend
