Repository AWS-Team-Minority-2/minority-two, pull requests merged in 2024-01, with the labels that each got.

#30 Min 1.2.1: Create User Login Page
  .gitignore
  frontend/App.js
  frontend/package-lock.json
  frontend/package.json
  frontend/screens/Customer/Login.js
  frontend/screens/Customer/assets/amazon.png
  frontend/screens/Customer/assets/google.png
  frontend/screens/Customer/index.js
  frontend/screens/Customer/sass/Customer.scss
  frontend/screens/Homescren/screen.js
  frontend/screens/index.js
Labels: Frontend

#36 Added Registeration page User
  frontend/App.js
  frontend/screens/Customer/Login.js
  frontend/screens/Customer/Register.js
  frontend/screens/Customer/index.js
  frontend/screens/Customer/sass/Customer.scss
  frontend/screens/index.js
Labels: Frontend

#39 14.1 Add Frontend App to Monorepo
  .gitignore
  .npmrc
  README.md
  apps/frontend/App.js
  apps/frontend/app.json
  apps/frontend/assets/adaptive-icon.png
  apps/frontend/assets/favicon.png
  apps/frontend/assets/icon.png
  apps/frontend/assets/splash.png
  apps/frontend/babel.config.js
  apps/frontend/metro.config.js
  apps/frontend/package.json
  apps/frontend/screens/Customer/Login.js
  apps/frontend/screens/Customer/Register.js
  apps/frontend/screens/Customer/assets/amazon.png
  apps/frontend/screens/Customer/assets/google.png
  apps/frontend/screens/Customer/index.js
  apps/frontend/screens/Customer/sass/Customer.scss
  apps/frontend/screens/Homescren/assets/bg.png
  apps/frontend/screens/Homescren/assets/nexa.png
  apps/frontend/screens/Homescren/index.js
  apps/frontend/screens/Homescren/sass/Homescreen.scss
  apps/frontend/screens/Homescren/screen.js
  apps/frontend/screens/index.js
  frontend/metro.config.js
  frontend/package-lock.json
  frontend/screens/index.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: documentation, Frontend

#41 14.2 Add Backend App to Monorepo
  apps/backend/node.js
  apps/backend/package.json
  apps/backend/src/loaders/UserLoader.js
  apps/backend/src/resolvers/MutationResolver.js
  apps/backend/src/resolvers/QueryResolver.js
  apps/backend/src/schema.graphql
  apps/backend/src/stores/PostgresUserStore.js
  apps/migrations/getAppliedMigrations.ts
  apps/migrations/package.json
  apps/migrations/runner.ts
  apps/migrations/sql/00-nexa-init.sql
  apps/migrations/tsconfig.json
  apps/migrations/updateMigrationTable.ts
  package.json
  packages/postgres-node/index.js
  packages/postgres-node/package.json
  packages/postgres-node/types.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Backend

#43 Create README.md
  README.md
Labels: documentation

#45 15.1 Update `pg-node` port
  README.md
  apps/frontend/package.json
  packages/postgres-node/index.js
  packages/postgres-node/package.json
  pnpm-lock.yaml
Labels: Backend
