Repository AWS-Team-Minority-2/minority-two, pull requests merged in 2024-02, with the labels that each got.

#47 Min 1.2.4 Create Signup API
  .github/CODEOWNERS
  .gitignore
  apps/backend/node.ts
  apps/backend/package.json
  apps/backend/src/GQLContext.ts
  apps/backend/src/controllers/User.ts
  apps/backend/src/loaders/UserLoader.js
  apps/backend/src/loaders/UserLoader.ts
  apps/backend/src/resolvers/MutationResolver.js
  apps/backend/src/resolvers/MutationResolver.ts
  apps/backend/src/schema.graphql
  apps/backend/src/stores/PostgresUserStore.js
  apps/backend/src/stores/PostgresUserStore.ts
  apps/backend/tsconfig.json
  apps/frontend/App.js
  apps/frontend/package.json
  apps/frontend/screens/Customer/Register.js
  apps/frontend/screens/Customer/RegisterForm.js
  apps/frontend/screens/Customer/UserHomeScreen.js
  apps/frontend/screens/Customer/gql/index.js
  apps/frontend/screens/Customer/gql/mutations/registerUser.js
  apps/frontend/screens/Customer/hooks/RegisterHook.js
  apps/frontend/screens/Customer/hooks/index.js
  apps/frontend/screens/Customer/index.js
  apps/frontend/screens/Customer/sass/Customer.scss
  apps/frontend/screens/index.js
  apps/migrations/sql/01-add-user-table.sql
  apps/migrations/sql/01-inject-dummy-user.sql
  package.json
  packages/user-iso/index.ts
  packages/user-iso/package.json
  packages/user-iso/tsconfig.json
  pnpm-lock.yaml
Labels: Backend

#51 Min 1.2.3 Create Login API
  apps/backend/src/loaders/UserLoader.ts
  apps/backend/src/resolvers/MutationResolver.ts
  apps/backend/src/schema.graphql
  apps/backend/src/stores/PostgresUserStore.ts
  apps/frontend/screens/Customer/Login.js
  apps/frontend/screens/Customer/LoginForm.js
  apps/frontend/screens/Customer/gql/index.js
  apps/frontend/screens/Customer/gql/mutations/registerUser.js
  apps/frontend/screens/Customer/gql/mutations/users.js
  apps/frontend/screens/Customer/hooks/LoginHook.js
  apps/frontend/screens/Customer/hooks/index.js
  apps/frontend/screens/Customer/index.js
  apps/frontend/screens/Customer/sass/Customer.scss
  packages/user-iso/index.ts
Labels: Backend

#61 User Home Screen
  apps/frontend/screens/Customer/UserHomeScreen.js
  apps/frontend/screens/Customer/components/TopPlacesCarousel.js
  apps/frontend/screens/Customer/data/info.js
  apps/frontend/screens/Customer/sass/Customer.scss
  apps/frontend/screens/Customer/sass/UserHome.scss
  package.json
  pnpm-lock.yaml
Labels: Frontend

#62 Min 3.1 Create User Auth Context
  apps/frontend/App.js
  apps/frontend/screens/Customer/UserHomeScreen.js
  apps/frontend/screens/Customer/hooks/LoginHook.js
  packages/user-iso/context/auth.tsx
  packages/user-iso/index.ts
  packages/user-iso/tsconfig.json
Labels: Frontend, Backend

#66 min 3.0.1
  apps/frontend/App.js
  apps/frontend/screens/Customer/Login.js
  apps/frontend/screens/Customer/LoginForm.js
  apps/frontend/screens/Customer/NavBar.js
  apps/frontend/screens/Customer/Register.js
  apps/frontend/screens/Customer/UserHomeScreen.js
  apps/frontend/screens/Customer/hooks/LoginHook.js
  apps/frontend/screens/Customer/hooks/RegisterHook.js
  apps/frontend/screens/Customer/sass/UserHome.scss
  apps/frontend/screens/Homescren/screen.js
  package.json
  packages/screen-iso/context/screen.tsx
  packages/screen-iso/index.ts
  packages/screen-iso/package.json
  packages/screen-iso/tsconfig.json
  pnpm-lock.yaml
Labels: Frontend

#72 min 2.4 connect stores to API
  apps/backend/node.ts
  apps/backend/src/GQLContext.ts
  apps/backend/src/loaders/BusinessLoader.ts
  apps/backend/src/resolvers/QueryResolver.js
  apps/backend/src/resolvers/QueryResolver.ts
  apps/backend/src/schema.graphql
  apps/backend/src/stores/PostgresBuesinessStore.ts
  apps/frontend/screens/Customer/UserHomePage/UserHomeScreen.js
  apps/frontend/screens/Customer/UserHomePage/components/TopPlacesCarousel.js
  apps/frontend/screens/Customer/UserHomePage/data/info.js
  apps/frontend/screens/Customer/UserHomePage/gql/index.js
  apps/frontend/screens/Customer/UserHomePage/gql/query/stores.js
  apps/frontend/screens/Customer/UserHomePage/hooks/useStores.js
  apps/migrations/sql/02-add-store-table.sql
  apps/migrations/sql/02-inject-stores.sql
Labels: Frontend, Backend

#76 Doron/min 4.1 user profile
  apps/frontend/App.js
  apps/frontend/screens/Customer/NavBar.js
  apps/frontend/screens/Customer/UserHomePage/UserHome.scss
  apps/frontend/screens/Customer/UserHomePage/UserHomeScreen.js
  apps/frontend/screens/Customer/UserProfilePage/AccInfo.scss
  apps/frontend/screens/Customer/UserProfilePage/AccountInfo.js
  apps/frontend/screens/Customer/UserProfilePage/AccountInfoEmail.js
  apps/frontend/screens/Customer/UserProfilePage/AccountInfoName.js
  apps/frontend/screens/Customer/UserProfilePage/AccountInfoPhoneNumber.js
  apps/frontend/screens/Customer/UserProfilePage/ChangePassword.js
  apps/frontend/screens/Customer/UserProfilePage/Security.js
  apps/frontend/screens/Customer/UserProfilePage/UserProfile.js
  apps/frontend/screens/Customer/UserProfilePage/UserProfile.scss
  apps/frontend/screens/Customer/sass/NavBar.scss
  apps/frontend/screens/Customer/sass/UserHome.scss
Labels: Frontend

#75 min 7.0 - min 7.7
  apps/backend/node.ts
  apps/backend/src/GQLContext.ts
  apps/backend/src/controllers/User.ts
  apps/backend/src/controllers/index.ts
  apps/backend/src/controllers/suspendBusiness.ts
  apps/backend/src/loaders/AdminLoader.ts
  apps/backend/src/loaders/UserLoader.ts
  apps/backend/src/resolvers/MutationResolver.ts
  apps/backend/src/schema.graphql
  apps/backend/src/stores/PostgresAdminStore.ts
  apps/backend/tsconfig.json
  apps/frontend/App.js
  apps/frontend/assets/splash.png
  apps/frontend/package.json
  apps/frontend/screens/Admin/gql/index.js
  apps/frontend/screens/Admin/gql/mutations/users.js
  apps/frontend/screens/Admin/hooks/useAdmin.js
  apps/frontend/screens/Admin/index.js
  apps/frontend/screens/Admin/login/screen.js
  apps/frontend/screens/Admin/portal/card.js
  apps/frontend/screens/Admin/portal/detailCard.js
  apps/frontend/screens/Admin/portal/screen.js
  apps/frontend/screens/Admin/sass/Admin.scss
  apps/frontend/screens/Admin/updates/editBusiness.js
  apps/frontend/screens/Customer/UserHomePage/UserHomeScreen.js
  apps/frontend/screens/Customer/UserHomePage/UserMap.js
  apps/frontend/screens/Customer/UserHomePage/hooks/useStores.js
  apps/frontend/screens/Customer/UserProfilePage/AccountInfo.js
  apps/frontend/screens/Customer/UserProfilePage/Security.js
  apps/frontend/screens/Customer/UserProfilePage/UserProfile.js
  apps/frontend/screens/Customer/hooks/LoginHook.js
  apps/frontend/screens/Homescren/sass/Homescreen.scss
  apps/frontend/screens/Homescren/screen.js
  apps/frontend/screens/index.js
  apps/frontend/store.js
  apps/migrations/sql/03-create-admin-table.sql
  apps/migrations/sql/03-inject-admin-codes.sql
  apps/migrations/sql/04-create-standby-table.sql
  package.json
  packages/actions-iso/index.ts
  packages/actions-iso/package.json
  packages/actions-iso/tsconfig.json
  packages/business-web/hooks/adminAction.ts
  packages/business-web/hooks/useStores.ts
  packages/business-web/index.ts
  packages/business-web/mutations/index.ts
  packages/business-web/package.json
  packages/business-web/tsconfig.json
  pnpm-lock.yaml
Labels: Frontend, Backend, pkg, Migration
