Repository AWS-Team-Minority-2/minority-two, pull requests merged in 2024-04, with the labels that each got.

#117 1/n Stores IDs are diffrent across DB
  apps/migrations/sql/011-nexa-delete-store.sql
  apps/migrations/sql/012-create-stores.table.sql
  apps/migrations/sql/013-inject-store-data.sql
  packages/business-web/hooks/useStores.ts
Labels: Migration, Requires Verification 🔎, HOTFIX 🚨

#113 Min 18.1 Create Basket Screen
  apps/backend/src/schema.graphql
  apps/frontend/App.js
  apps/frontend/assets/congrats.json
  apps/frontend/assets/motto.png
  apps/frontend/package.json
  apps/frontend/screens/Customer/BusinessProfile.js
  apps/frontend/screens/Customer/BusinessProfilePopUp.js
  apps/frontend/screens/Customer/Checkout/CartRow.js
  apps/frontend/screens/Customer/Checkout/OpenCarts.js
  apps/frontend/screens/Customer/Checkout/processed.js
  apps/frontend/screens/Customer/Checkout/sass/BasketScreen.scss
  apps/frontend/screens/Customer/Checkout/screen.js
  apps/frontend/screens/Customer/Dishrow.js
  apps/frontend/screens/Customer/RestaurantProfile.js
  apps/frontend/screens/Customer/RestaurantSelected.js
  apps/frontend/screens/Customer/SelectedItem.js
  apps/frontend/screens/Customer/UserHomePage/UserHome.scss
  apps/frontend/screens/Customer/UserHomePage/UserHomeScreen.js
  apps/frontend/screens/Customer/UserHomePage/components/TopPlacesCarousel.js
  apps/frontend/screens/Customer/UserProfilePage/UserProfile.scss
  apps/frontend/screens/Customer/index.js
  apps/frontend/screens/Customer/sass/BusinessProfile.scss
  apps/frontend/screens/Customer/sass/Dishrow.scss
  apps/frontend/screens/index.js
  apps/frontend/store.js
  apps/migrations/sql/014-update-sections-1.sql
  apps/migrations/sql/014-update-sections-2.sql
  apps/migrations/sql/014-update-sections-3.sql
  apps/migrations/sql/014-update-sections-4.sql
  apps/migrations/sql/014-update-sections-5.sql
  packages/business-iso/index.ts
  packages/business-web/hooks/locals.ts
  packages/business-web/hooks/useBasket.tsx
  packages/business-web/hooks/useCarts.tsx
  packages/business-web/hooks/useCartsGlobal.ts
  packages/business-web/hooks/useRestaurantRedux.tsx
  packages/business-web/index.ts
  packages/business-web/mutations/index.ts
  pnpm-lock.yaml
Labels: Frontend, pkg, Migration

#132 min 19.0 Update `stores` min 20.x Business Edits
  apps/backend/node.ts
  apps/backend/src/controllers/getStoreViaId.ts
  apps/backend/src/controllers/index.ts
  apps/backend/src/resolvers/QueryResolver.ts
  apps/backend/src/schema.graphql
  apps/frontend/App.js
  apps/frontend/package.json
  apps/frontend/screens/Business/AddNewSectionPopup.js
  apps/frontend/screens/Business/BusinessInsights.js
  apps/frontend/screens/Business/BusinessSideStore.js
  apps/frontend/screens/Business/DishrowEditable.js
  apps/frontend/screens/Business/EditDishRowPopup.js
  apps/frontend/screens/Business/Login_BO.js
  apps/frontend/screens/Business/data/Reviews.js
  apps/frontend/screens/Business/index.js
  apps/frontend/screens/Business/sass/BusinessHome.scss
  apps/frontend/screens/Business/sass/BusinessInsight.scss
  apps/frontend/screens/Business/sass/Dishrow.scss
  apps/frontend/screens/Customer/BusinessProfile.js
  apps/frontend/screens/Customer/Checkout/CartRow.js
  apps/frontend/screens/Customer/Checkout/OpenCarts.js
  apps/frontend/screens/Customer/Checkout/processed.js
  apps/frontend/screens/Customer/Checkout/screen.js
  apps/frontend/screens/Customer/FeaturedCardStore.js
  apps/frontend/screens/Customer/FeaturedRowStore.js
  apps/frontend/screens/Customer/RestaurantProfile.js
  apps/frontend/screens/Customer/RestaurantSelected.js
  apps/frontend/screens/Customer/StoreProfile.js
  apps/frontend/screens/Customer/UserHomePage/components/TopPlacesCarousel.js
  apps/frontend/screens/Customer/data/store.js
  apps/frontend/screens/Customer/sass/StoreProfile.scss
  apps/frontend/screens/index.js
  apps/migrations/sql/015-drop-shops.sql
  apps/migrations/sql/016-update-sections-s1.sql
  apps/migrations/sql/016-update-sections-s2.sql
  apps/migrations/sql/016-update-sections-s3.sql
  apps/migrations/sql/016-update-sections-s4.sql
  packages/business-iso/index.ts
  packages/business-web/hooks/locals.ts
  packages/business-web/hooks/useBasket.tsx
  packages/business-web/hooks/useBusinessEditable.ts
  packages/business-web/hooks/useCarts.tsx
  packages/business-web/index.ts
  packages/business-web/mutations/index.ts
  pnpm-lock.yaml
Labels: Frontend, Backend, pkg, Migration

#133 Favorites and Browse
  apps/frontend/App.js
  apps/frontend/screens/Customer/Browse.js
  apps/frontend/screens/Customer/Favorites.js
  apps/frontend/screens/Customer/NavBar.js
  apps/frontend/screens/Customer/RestaurantsBrowse.js
  apps/frontend/screens/Customer/ServicesBrowse.js
  apps/frontend/screens/Customer/ShopsBrowse.js
  apps/frontend/screens/Customer/index.js
  apps/frontend/screens/Customer/sass/Browse.scss
  apps/frontend/screens/Customer/sass/Favorites.scss
  apps/frontend/screens/Customer/sass/ForgotPassword.scss
  apps/frontend/screens/Customer/sass/RestaurantsBrowse.scss
  apps/frontend/screens/Customer/sass/ServicesBrowse.scss
  apps/frontend/screens/Customer/sass/ShopsBrowse.scss
  apps/frontend/screens/index.js
Labels: Frontend, Requires Verification 🔎

#136 [Regression] Remove Dups in Exports #135
  apps/frontend/App.js
  apps/frontend/screens/index.js
Labels: HOTFIX 🚨
